/* header */
.header {
    background-color: #0a0000;
    height: 100px;
}

.header-control {
    max-width: 1170px;
    display: flex;
    height: 100px;
    margin: auto 0;
    justify-content: space-between;
}

.logo {
    display: block;
    max-height: 84px;
}

.navv-item {
    display: inline-block;
    line-height: 100px;
    position: relative;
}

.navv .navv-item a {
    
    text-decoration: none;
    color: #c6c3ba;
    font-size: 1.5rem;
    
    font-weight: 500;
    padding: 8px;
    z-index: 1;
}

.navv .navv-item a:hover {
    color: var(--primary-color);
}

.height-center {
    margin: auto 0;
}
.arrow{
    padding: 8px 12px!important;
    border-radius: 100%;
}
.arrow:hover{
    opacity: .5;
}
.hotline {

    border-radius: 5px;
    border: 1px solid #c6c6c6;
}

.sub-navv{
    position: absolute;
    top: 100px;
    z-index: 2;
    
}
.sub-navv-item{
   width: 200px;
    height: 40px;
    color: #fff;
    list-style: none;
}
.sub-navv-link{
    text-decoration: none;
    
    display: block;
    line-height: 32px;
}

/* slider */


.slider {
    width: 100%;
    overflow: hidden;
    
}

#myCarousel{
    max-height: 592px;
    
}

/* list price */
.list-price {
    width: 100%;
    height: auto;
    display: block;
    
}

/* giói thiệu */
.title {
    font-family: uppercase;
    color: #000;
    font-size: 3.9rem;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 36px;
    line-height: 3.9rem;
}

.text-content {
    font-size: 1.56rem;
    line-height: 2.6rem;
    font-weight: 500;
    letter-spacing: normal;
    margin-bottom: 24px;
    
   
    margin-right: 20px;
    
}

.intro {
    overflow: hidden;
    max-width: 264px;
    position: relative;
}

.space-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.intro-img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 400px;
    transition: all .4s ease-in-out;
}

.intro-img:hover {
    transform: scale(1.1);
}

.order-link {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 550;
    background-color: #000;
    color: #fff;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    line-height: 32px;
    border-radius: 5px;
    max-width: 174px;
    left: 50%;
    transform: translateX(-50%);

}

.order-icon {
    color: #fff;
    display: block;
    margin-left: 12px;
    margin-right: 0px;

}

.order-link span {

    margin-right: 12px;
    margin-left: 8px;

}

.menu {
    background-color: #000;
    margin-top: 60px;
    color: #c0c0c0;
    padding-bottom: 62px;
    margin-bottom: 34px;
}

.menu-color {
    color: #c0c0c0;
}

/*  menu img*/
.menu-img {
    display: block;
    margin: 0 auto 18px;
    max-height: 178px;
    filter: grayscale(100%);
    /* filter .6s, opacity .6s, transform .6s, box-shadow .3s; */
}

.menu-img:hover {
    filter: grayscale(0%);
    transition: all .6s;
    /* transition:filter .6s, opacity .6s, transform .6s, box-shadow .3s; */
}

/* register care */
.register-care {
    position: relative;
    margin-bottom: 32px;
    height: 122px;
    background: url('../image/banner-234.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 80px;
}
.register-care::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.83);
    height: 100%;
    z-index: 1;
}
.register-care-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1080px;
    margin: auto;
    align-content: center;
    /* padding-top: 50px; */
    height: 122px;
}

.register-care-title {
    flex-grow: 1;
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    color: #c0c0c0;
    text-align: center;
    line-height: 40px;
}

.care-email {
    flex-grow: 1;
   display: flex;
   justify-content: space-around;
}

.care-input {
    flex-grow: 1;
    display: block;
    height: 40px;
    max-width: 368px;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.09);
    /* border-color: rgba(255,255,255,0.09); */
    background-color: rgba(255,255,255,0.2);
    padding-left: 12px;
    border-radius: 99px;
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 18px;
    /* background-color: ; */
}
.care-input::placeholder{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
}
.care-input:focus{
    outline: none;
}
.care-btn {
    display: block;
    border-radius: 5px;
    background-color: #F3E385;
    color: black;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 40px;
    font-weight: bolder;
    text-align: center;
    padding: 0 16px;
    border: none;
    height: 40px;
}
.care-btn:hover{
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
}

.korea{
    max-height: 354px;
    overflow: hidden;
}
.korea-img{
    height: 100%;
    display: inline-block;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.m-t{
    margin-top: 21px;
}
.korea-link{
    display: block;
    height: 202px;
    overflow: hidden;
}
.korea-link-img{
    display: block;
    width: 100%;
    height: 202px;
    transition: all .4s ease-in-out;
}
.korea-link-img:hover{
    transform: scale(1.1);
}
/* set table */
.suggest-item{
    list-style: none;
    font-size: 1.56rem;
    line-height: 2.6rem;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 40px;
    position: relative;
}
.f-w{
    font-weight: 600;
}
.set-table{
    margin-top: 50px;
    position: relative;
    background-repeat: no-repeat;
    background: url('../image/banner-234.jpg');
}
.set-table::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.83);
    height: 100%;
    z-index: 1;
}
.set-table-icon{
    font-weight: 400;
    display: block;
    font-size: 1.3rem;
    margin-right: 20px;
    color: #7a9c59;
}
.suggest-item::after{
    content: "";
    /* border-color: rgba(255,255,255,0.2); */
    border-bottom: 1px solid rgba(255,255,255,0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.set-order-text{
    width: 100%;
    display: block;
    height: 39px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 13px;
}
.white{
    color: #fff;
}
.mt-20{
    padding-top: 20px;
    padding-bottom: 50px;
}
.list-check-box{
    display: flex;
    flex-wrap: wrap;
}
.checkbox-item{
    height: 34px;
    margin-right: 20px;
}
.checkbox-item input{
    display: inline-block;
    height: 14px;
    margin-right: 12px;
    margin-left: 4px;
    margin-top: 6px;
}
.check-time{
    color: #f1f1f1;
    font-size: 1.6rem;
    line-height: 34px;
}
.z-ind-2{
    z-index: 2;
}

.owl-carousel-brand{
    height: 50px;
    width: 80px;
    z-index: 6;
}

/* footer */
.footer{
    margin-top: 30px;
    background-color: #0a0a0a;
    color: rgba(255,255,255,0.5);
}
.footer-control{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between!important;
}
.footer-title{
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 14px;
}
.footer-content{
    font-size: 1.2rem;
    margin-bottom: 8px;
}