/* header */
.header {
    background-color: #0a0000;
    height: 100px;
}

.header-control {
    max-width: 1170px;
    display: flex;
    height: 100px;
    margin: auto 0;
    justify-content: space-between;
}

.logo {
    display: block;
    max-height: 84px;
}

.navv-item {
    display: inline-block;
    line-height: 100px;
    position: relative;
}

.navv .navv-item a {

    text-decoration: none;
    color: #c6c3ba;
    font-size: 1.5rem;

    font-weight: 500;
    padding: 8px;
    z-index: 1;
}

.navv .navv-item a:hover {
    color: var(--primary-color);
}

.height-center {
    margin: auto 0;
}

.arrow {
    padding: 8px 12px !important;
    border-radius: 100%;
}

.arrow:hover {
    opacity: .5;
}


.hotline {

    border-radius: 5px;
    border: 1px solid #c6c6c6;
}

.hotline:hover {
    background-color: #f3e385;
    color: #000 !important;
}

.sub-navv {
    position: absolute;
    top: 100px;
    z-index: 3;
    display: none;
    background-color: #0a0000;
    padding-bottom: 10px;

}

.navv-item:hover .sub-navv {
    display: block;
}

.sub-navv-item {
    width: 200px;
    height: 40px;
    color: #fff;
    list-style: none;
}

.sub-navv-link {
    text-decoration: none;

    display: block;
    line-height: 32px;
}

/* slider */


.slider {
    width: 100%;
    overflow: hidden;

}

#myCarousel {
    max-height: 592px;

}

/* list price */
.list-price {
    width: 100%;
    height: auto;
    display: block;

}

/* giói thiệu */
.title {
    font-family: uppercase;
    color: #000;
    font-size: 3.9rem;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 36px;
    line-height: 3.9rem;
}

.text-content {
    font-size: 1.56rem;
    line-height: 2.6rem;
    font-weight: 500;
    letter-spacing: normal;
    margin-bottom: 24px;


    margin-right: 20px;

}

.intro {
    overflow: hidden;
    max-width: 264px;
    position: relative;
}

.space-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.intro-img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 400px;
    transition: all .4s ease-in-out;
}

.intro-img:hover {
    transform: scale(1.1);
}

.order-link {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 550;
    background-color: #000;
    color: #fff;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    line-height: 36px;
    border-radius: 5px;
    max-width: 174px;
    left: 50%;
    transform: translateX(-50%);

}

.order-link-it {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 550;
    background-color: #000;
    color: #fff;
    z-index: 1;
    line-height: 38px;
    border-radius: 5px;
    max-width: 112px;
    margin-bottom: 76px;
}

.order-link-it:hover,
.order-link:hover {
    text-decoration: none;
}

.order-icon {
    color: #fff;
    display: block;
    margin-left: 12px;
    margin-right: 0px;

}

.order-link-it span,
.order-link span {
    color: #fff;
    margin-right: 12px;
    margin-left: 8px;

}

.order-link span:hover {
    opacity: .8;
}

.menu {
    background-color: #000;
    margin-top: 60px;
    color: #c0c0c0;
    padding-bottom: 62px;
    margin-bottom: 34px;
}

.menu-color {
    color: #c0c0c0;
}

/*  menu img*/
.menu-img {
    display: block;
    margin: 0 auto 18px;
    max-height: 178px;
    filter: grayscale(100%);
    /* filter .6s, opacity .6s, transform .6s, box-shadow .3s; */
}

.menu-img:hover {
    filter: grayscale(0%);
    transition: all .6s;
    /* transition:filter .6s, opacity .6s, transform .6s, box-shadow .3s; */
}

/* register care */
.register-care {
    position: relative;
    margin-bottom: 32px;
    height: 122px;
    background: url('../image/banner-234.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 80px;
}

.register-care::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.83);
    height: 100%;
    z-index: 1;
}

.register-care-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1080px;
    margin: auto;
    align-content: center;
    /* padding-top: 50px; */
    height: 122px;
}

.register-care-title {
    flex-grow: 1;
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    color: #c0c0c0;
    text-align: center;
    line-height: 40px;
}

.care-email {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.care-input {
    flex-grow: 1;
    display: block;
    height: 40px;
    max-width: 368px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.09);
    /* border-color: rgba(255,255,255,0.09); */
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 12px;
    border-radius: 99px;
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 18px;
    /* background-color: ; */
}

.care-input::placeholder {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
}

.care-input:focus {
    outline: none;
}

.care-btn {
    display: block;
    border-radius: 5px;
    background-color: #F3E385 !important;
    color: black;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 40px;
    font-weight: bolder;
    text-align: center;
    padding: 0 16px;
    border: none;
    height: 40px;
}

.care-btn:hover {
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
}

.korea {
    max-height: 354px;
    overflow: hidden;
}

.korea-img {
    height: 100%;
    display: inline-block;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.m-t {
    margin-top: 21px;
}

.korea-link {
    display: block;
    height: 202px;
    overflow: hidden;
}

.korea-link-img {
    display: block;
    width: 100%;
    height: 202px;
    transition: all .4s ease-in-out;
}

.korea-link-img:hover {
    transform: scale(1.1);
}

/* set table */
.suggest-item {
    list-style: none;
    font-size: 1.56rem;
    line-height: 2.6rem;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.suggest-item.b {
    border-bottom: 1px solid #3a3a3a;
}

.f-w {
    font-weight: 500;
}

.set-table {
    
    position: relative;
    background: url('../image/banner-234.jpg');
    background-repeat: no-repeat!important;
}

.set-table::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.83);
    height: 100%;
    z-index: 1;
}

.set-table-icon {
    font-weight: 400;
    display: block;
    font-size: 1.3rem;
    margin-right: 20px;
    color: #7a9c59;
}

/* .suggest-item::after{
    content: "";
    
    border-bottom: 1px solid rgba(255,255,255,0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
} */

.set-order-text {
    width: 100%;
    display: block;
    height: 39px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    padding: 0 13px;
}

.white {
    color: #fff;
}

.black {
    color: #333;
}

.mt-20 {
    padding-top: 20px;
    padding-bottom: 50px;
}

.list-check-box {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-item {
    height: 34px;
    margin-right: 20px;
}

.checkbox-item input {
    display: inline-block;
    height: 14px;
    margin-right: 12px;
    margin-left: 4px;
    margin-top: 6px;
}

.check-time {
    color: #f1f1f1;
    font-size: 1.6rem;
    line-height: 34px;
    font-weight: 400;
}

.black {
    color: #333;
}

.z-ind-2 {
    z-index: 2;
}

.owl-carousel-brand {
    height: 50px;
    width: 80px;
    z-index: 6;
}

/* footer */
.footer {

    background-color: #0a0a0a;
    color: rgba(255, 255, 255, 0.5);
}

.footer-control {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between !important;
}

.footer-title {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 14px;
}

.footer-content {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

/* shfshf */
.banner {
    overflow: hidden;
    max-height: 230px;
}

.banner-img {
    vertical-align: bottom;
    object-fit: cover;
}

/* giới  thiệu */
.intro-item {}

.intro-item-img {
    display: block;
    height: 388px;
    object-fit: cover;
    margin-bottom: 24px;
}

.title-intro {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    line-height: 3.2rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

.menu-title {
    text-align: center;
    font-weight: 700;
    color: #555;
    font-weight: 1.8rem;
    margin-top: 30px;
    font-size: 1.8rem;
    margin-bottom: 16px;

}

.list-menu-link {
    position: relative;
    bottom: -1px;
    display: flex;
    justify-content: center;
}

.menu-link {
    text-decoration: none !important;
    color: rgba(17, 17, 17, 0.85);
    font-size: 1.3rem;
    padding: 10px 15px;
    border-top: 2px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: rgba(0, 0, 0, 0.04);

}

.menu-link:hover {
    text-decoration: none;
    color: rgba(17, 17, 17, 0.85);
}

.menu-link:focus{
    text-decoration: none!important;
    color: rgba(17, 17, 17, 0.85);
}

.active {
    
    border-top: 2px solid #F3E385;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.center {
    width: 2px;
}

.border {
    border: 1px solid #ddd;
    margin-bottom: 50px;
    border-radius: 2px;
}

.list-menu {

    padding: 30px 17px 46px;
}

.category-products {
    margin-bottom: 40px !important;
}

em {
    display: block;
    margin-bottom: 21px;
    color: #777;
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 13px;
}

.category-img {
    overflow: hidden;
    max-height: 174px;
}

.category-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    position: relative;
    top: -70px;
}

.category-title {
    color: #000;
    font-weight: bolder;
    font-size: 2.24rem;
    margin-bottom: 21px;
    margin-top: 25px;
}

.category-item {
    font-size: 1.6rem;
    line-height: 49px;
    border-bottom: 1px solid #ececec;
}

.category-item:hover {
    border-bottom: 2px solid #F3E385;
}

.check-icon {
    color: #7a9c59;
    font-weight: 900;
    margin-right: 12px;
}

.category-item-link {
    text-decoration: none;
    color: #777;
}

.category-item-link:hover {
    text-decoration: none;
    color: #777;
}