/* header */
.header{
    background-color: #0a0000;
    height: 100px;
}
.header-control{
    max-width: 1170px;
    display: flex;
    height: 100px;
    margin: auto 0;
    justify-content: space-between;
}
.logo{
    display: block;
    max-height: 84px;
}
.nav{
    
}
.nav li{
    display: inline-block;
}
.nav li a{
    display: block;
    text-decoration: none;
    color: #c6c3ba;
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 500;
    padding:  8px;
}

.nav li a:hover{
    color: var(--primary-color);
}
.height-center{
    margin: auto 0;
}
.hotline{
    
    border-radius: 5px;
    border: 1px solid #c6c6c6;
}

/* slider */
.owl-carousel{
    width: 100%;
}
.slider{
    width: 100%;
    overflow: hidden;
    
}
.owl-dots{
    display: none;
}
.owl-carousel-item{
    width: 100%;
    padding-top: 592px;
}
/* list price */
.list-price{
    width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}
/* giói thiệu */
.title{
    font-family: uppercase;
    color: #000;
    font-size: 3.9rem;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 36px;
    line-height: 3.9rem;
}
.text-content{
    font-size: 1.56rem;
    line-height: 2.4rem;
    margin-bottom: 24px;
    font-weight: 500;
    letter-spacing: normal;
    margin-right: 20px;
    letter-spacing: .5px;
}
.intro{
    overflow: hidden;
    max-width: 264px;
    position: relative;
}
.space-between{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.intro-img{
    width: 100%;
    object-fit: cover;
    display: block;
    height: 400px;
    transition: all .4s ease-in-out;
}
.intro-img:hover{
    transform: scale(1.1);
}

.order-link{
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    
    position: absolute;
    z-index: 1;
    bottom: 10%;
    line-height: 32px;
    border-radius: 5px;
    
    
    max-width: 170px;
    left: 50%;
    transform: translateX(-50%);
    
}
.order-icon{
    color: #fff;
    display: block;
   margin-left: 14px;
   margin-right: auto;
    
}
.order-link span{
    
   margin-right: 14px;
   margin-left: 8px;
    
}

.menu{
    background-color: #000;
    margin-top: 60px;
    color: #c0c0c0;
    padding-bottom: 62px;
}
.menu-color{
    color: #c0c0c0;
}
/*  menu img*/
.menu-img{
    display: block;
    margin-bottom: 18px;
    max-height: 178px;
    filter: grayscale(100%);
    /* filter .6s, opacity .6s, transform .6s, box-shadow .3s; */
}
.menu-img:hover{
    filter: grayscale(0%);
    transition: all .6s;
    /* transition:filter .6s, opacity .6s, transform .6s, box-shadow .3s; */
}


