<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="fonts/BerkshireSwash-Regular.ttf">
    <link rel="stylesheet" href="fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <div class="restaurant">
        <div class="header">
            <div class="grid wide">
                <div class="header-control">
                    <img src="image/logo-Sunhomes-BBQ-01.png" alt="" class="logo height-center">
                    <ul class="nav height-center">
                        <li><a href="">Trang chủ</a></li>
                        <li><a href="">Giới thiệu</a></li>
                        <li><a href="">Đặt bàn</a></li>
                        <li><a href="">Thực đơn</a></li>
                        <li><a href="">Tin tức</a></li>
                        <li><a href="">Liên hệ</a></li>
                        <li><a href="">đăng nhập</a></li>
                        <li><a href="" class="hotline">Hotline: 0984966806</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- slide -->
        <div class="slider">
            <div class="owl-carousel">
                <div class="owl-carousel-item" style="background: url('image/slider01.jpg')  center / cover no-repeat;">
                </div>
                <div class="owl-carousel-item" style="background: url('image/SLIDER2.jpg')  center / cover no-repeat;">
                </div>
                <div class="owl-carousel-item" style="background: url('image/slider3.jpg')  center / cover no-repeat;">
                </div>
                <div class="owl-carousel-item" style="background: url('image/slider4.jpg')  center / cover no-repeat;">
                </div>
            </div>
        </div>
        <img src="image/bang-gia-01-1024x165.png" alt="" class="list-price">
        <div class="grid wide">
            <div class="row">
                <div class="col l-6">
                    <h1 class="title">Sun Homes BBQ</h1>
                    <p class="text-content"><strong>Sun Homes BBQ</strong>(Quán thịt nướng Hàn Quốc) sẽ đưa bạn đến Seoul, nơi những con phố bình dị, những quán ăn dân dã đã trở nên quen thuộc và gắn bó với người dân xứ Hàn. Nếu đã một lần thưởng thức thịt nướng tại <strong>Sun Homes BBQ</strong>, bạn sẽ không thể quên được hương vị “ngất ngây” của những món sườn non bò Mỹ, nạc vai bò Mỹ, dẻ sườn tươi…. khi hòa quyện vào với các loại gia vị đặc trưng của xứ sở Kimchi đã trở nên hấp dẫn đến thế nào. </p>
                    <p class="text-content">Bí quyết của <strong>Sun Homes BBQ</strong> nằm ở nước sốt tẩm ướp thịt được chế biến từ nguyên liệu hoàn toàn tự nhiên, theo công thức bí truyền, do Bếp Trưởng <strong>Park Sung Min</strong> hơn 40 năm kinh nghiệm nghiên cứu và chế biến. <strong>Sun Homes BBQ</strong> có 2 dạng thực đơn để Quý Khách lựa chọn là: <strong>Chọn Combo</strong> và <strong>Gọi Món</strong>.</p>
                </div>
                <div class="col l-6">
                    <div class="space-between">
                        <div class="intro"><img class="intro-img" src="image/charm_korean_bbq_yelp.0.webp" alt="">
                        <a href="" class="order-link"><i class="order-icon fa-sharp fa-solid fa-star"></i><span>Chọn combo</span></a>
                        </div>
                        <div class="intro"><img class="intro-img" src="image/eyJrZXkiOiI3NzU0YmVhMi0wNmE4LTRhYTYtOGM4My0yNDc1MWE2MTM3ZGUuanBlZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6ODAwfX19.webp" alt="">
                            <a href="" class="order-link" style="min-width: 150px;"><i class="order-icon fa-sharp fa-solid fa-heart"></i><span>gọi món nướng</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-6 menu-mt">
                        <div class="row">
                            <div class="col l-6">
                                <img src="image/1212.jpg" alt="" class="menu-img">
                                <img src="image/4534545345.jpg" alt="" class="menu-img">
                            </div>
                            <div class="col l-6"></div>
                        </div>
                    </div>
                    <div class="col l-6 menu-mt">
                        <h1 class="title menu-color">Menu</h1>
                        <p class="text-content">Hơn 200 món ăn được chắt lọc từ Tinh hoa ẩm thực Hàn Quốc với mức giá chỉ từ 69.000 cùng nhiều combo và set bộ hấp dẫn đều có trong menu của King BBQ. Ngoài ra các bạn còn được thưởng thức những món ăn đặc trưng và nổi tiếng trong văn hoá ẩm thực của Hàn Quốc do chính tay đàu bếp người Hàn Quốc chế biến.</p>
                        <a href="" class="button-link button-link-menu">
                            <i class="icon-button fa-solid fa-bag-shopping"></i> Thực đơn
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            items: 1,
            lazyLoad: true,
            loop: true,
            margin: 0,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true
        });
        $('.play').on('click', function () {
            owl.trigger('play.owl.autoplay', [1000])
        })
        $('.stop').on('click', function () {
            owl.trigger('stop.owl.autoplay')
        })
    </script>
</body>

</html>